[2018-07-24 00:04] lyons-heidi opened #2 "import error for deprecated import_by_path"
[code]

Is there a workaround for this yet? import_by_path was deprecated in django 1.9
I'm using django 2.0.6

[2018-09-07 18:06] mitchelljkotler opened #5 "Options to customize colors"

[2018-10-18 21:10] sindhujit opened #6 "Getting an error 'module' object has no attribute 'my_task'"
When I run my webpage in django, I am getting the error 'module' object has no attribute 'my_task'. I am importing it properly I hope in my views.py.
[code]

[2018-11-21 07:27] chauhoang99 opened #7 "views.py - row 8 - json.dumps() cannot serialize Decimal objects"
I got this problem on my side. The get_progress views failed all the times because of Decimal object in the result returned by progress.get_info().

In my fork I did this update to handle the error. Would be great if you can review your main version. Thank you for this great package btw, saved tons of time for me :)

![image](https://user-images.githubusercontent.com/40813780/48825271-de4e6f80-eda

[2018-12-18 15:26] jecker7 opened #8 "NoReverseMatch at /fv/ Reverse for 'task_status' with arguments '('',)' not found. 1 pattern(s) tried: ['celery-progress/(?P<task_id>[\\w-]+)/$']"
Getting the following error when deploying:

NoReverseMatch at /fv/
Reverse for 'task_status' with arguments '('',)' not found. 1 pattern(s) tried: ['celery-progress/(?P<task_id>[\\w-]+)/$']

[2018-12-31 12:06] chisvi commented on #7
I've submitted a PR #9  that solves this. Maybe we can get it merged and deploy a new version to Pypi so we can easily deploy projects using celery-progress without needing to modify the code.

[2019-01-15 14:31] hscspring commented on #7
i don't think it's good to use.

[2019-03-02 04:08] sindhujit commented on #8
I have the same issue. +1

[2019-03-19 01:02] tkrempser opened #10 "Missing function return?"
https://github.com/czue/celery-progress/blob/bcf9aab861cd1db90f43f310ac53d8b273dcd070/celery_progress/backend.py#L76

[2019-04-19 08:40] chengweb commented on #2
if your PC is windows platform,  install celery==3.1.25

[2019-05-13 04:36] snmateen commented on #8
i'm seeing the same issue as well.

[code]

[2019-06-02 18:34] nonnimartin commented on #8
Same issue. Any suggestions?

[2019-06-03 20:27] lie-nielsen commented on #8
In settings.py, try this:
path('celery-progress/', include('celery_progress.urls')),

[2019-06-18 11:15] mcrot opened #11 "Suggestion for documentation"
In the quickstart example in the documentation, the javascript code is (here for JQuery):
[code]
I wanted to have multiple progress bars and used this in a Django template in a loop and it took me some time to recognize that this does not work: The variable `progressUrl` will be overwritten in each loop iteration and at the end there is only one URL and many progress bars referring to it.

My sugg

[2019-06-18 11:17] czue commented on #11
Yes, that would be fantastic, thanks!

Also you just made me realize that my notification settings were broken for this repo and I missed all the issues :man_facepalming:

Will go through them asap.

[2019-06-18 11:33] czue commented on #8
Oh dear, sorry about the delayed reply.

If the task is called *in the view* and then you are rendering the progress bar on the resulting page then you should just pass `task_id` directly from the view.

See [this section of the readme](https://github.com/czue/celery-progress#displaying-progress) for how that looks.

If you are triggering the task from the page itself (e.g. via ajax or something)

[2019-06-18 11:37] czue commented on #6
I think you need to ensure that your `standalone.tasks` module contains a method called `my_task`

[2019-06-18 11:37] #6 closed

[2019-06-18 11:38] czue commented on #2
Yeah I think this is a `celery` / `django` version incompatibility, not anything to do with this library.

[2019-06-18 11:38] #2 closed

[2019-06-18 11:40] #11 closed

[2019-06-18 11:42] mcrot commented on #10
Ups, I've used a wrong commit message in https://github.com/mcrot/celery-progress/commit/825ace3ea6fd2a14cc97c1ed907873f0b756d2fc. I used "Closing" instead of "Closes". This can be closed now.

[2019-06-18 11:45] czue commented on #10
Yep, just doing some final testing then will cut a new release to pypi and close

[2019-06-18 11:56] czue commented on #10
fixed in `0.0.4` - thanks!

[2019-06-18 11:56] #10 closed

[2019-06-18 11:56] czue commented on #7
fixed in `0.0.4` - thanks!

[2019-06-18 11:56] #7 closed

[2019-06-27 15:53] Acessos-Ad3 commented on #8
Hi, czue
I'm with the same issue, i tried your answer but, didn't worked for me,

[2019-06-27 18:05] czue commented on #8
Can you share your view code and template?

[2019-07-15 14:42] eric-saintetienne opened #13 "Retries"
It would be more robust if the javascript code on the front-end part (re)tried again after an `XMLHttpRequest()` failure.

That'd be useful in particuler when running Django's built-in webserver on `http://localhost:8000` (using `manage.py runserver`) because when in development mode (`DEBUG=1`) Django's builtin webserver reloads python source files that change by restarting the webserver and the

[2019-07-15 15:09] czue commented on #13
thanks this makes sense to me. would love a patch if you are willing to put one together!

[2019-08-20 22:44] AmineHosni commented on #8
I

[2019-08-20 23:39] AmineHosni commented on #8
Same here. My console shows

`Failed to load resource: the server responded with a status of 500 (Internal Server Error)` at
127.0.0.1:8000/celery-progress/bddc2f0a-91d5-42ca-bf94-a5deb8d55305/ which shows the Django error:
`'DisabledBackend' object has no attribute '_get_task_meta_for'`

I added these lines, based on the [2nd ](https://stackoverflow.com/questions/23215311/celery-with-rabbitmq-att

[2019-08-21 05:58] czue commented on #8
celery and your web app (I assume django) need to use the same backend.

So if you're using `rpc://` when you call celery then you should add `CELERY_RESULT_BACKEND='rpc://'` I believe.

[2019-08-22 18:22] sindhujit commented on #8
Hi @czue
I followed the corrections you stated. For me, the no reverse error is fixed. However, the issue now is we are getting the task ID only after the task is completely executed. So the progress does not start until the entire task is completed.

[2019-08-23 06:12] czue commented on #8
Are you using `ALWAYS_EAGER`?

[2019-09-10 04:20] sindhujit opened #14 "Periodic GET request occurs even after success!"
Is there a way to de-initialize the celery progress bar after everything is completed? My server constantly shows:
[09/Sep/2019 21:20:23] "GET /celery_progress/task-id-stub/ HTTP/1.1" 200 54
[09/Sep/2019 21:20:24] "GET /celery_progress/task-id-stub/ HTTP/1.1" 200 54
[09/Sep/2019 21:20:25] "GET /celery_progress/task-id-stub/ HTTP/1.1" 200 54

I tried CeleryProgressBar.initProgressBar(''); but did n

[2019-09-10 06:13] czue commented on #14
Are you sure the task is properly being marked as complete by `celery`? Just looking at the URLs being hit, I suspect that you are not properly replacing `task-id-stub` with the actual ID of the task.

[2019-09-10 14:37] sindhujit commented on #14
Never mind. I was creating 2 task URLs:-
[10/Sep/2019 07:34:57] "GET /celery_progress/296e3c05-524d-4235-93b6-37a4cdfa60f0/ HTTP/1.1" 200 98
[10/Sep/2019 07:34:57] "GET /celery_progress/task-id-stub/ HTTP/1.1" 200 54

[2019-09-10 14:37] #14 closed

[2019-09-23 21:47] sindhujit opened #15 "Progress Bar not syncing with uwsgi+nginx deployment!!"
It seems that this modules does not properly sync in a production-like deployment of django with uwsgi+nginx. It works fine in our test env. of our automation tool running the django webserver, but in production where we have uwsgi+nginx, it doesn't show the progress.
It gets stuck at "Waiting for progress to start.."

[2019-09-24 03:29] czue commented on #15
That's strange I've never had any issues with production deployments. Are you getting any errors in the celery, django, or JS logs/console? Is the task actually running?

[2019-09-24 03:39] sindhujit commented on #15
The celery task gets executed fine and I see it getting completed and the response returned as well. However, the task-id URL is not called continuously and the progress bar does not get updated while the task is executing. I have read online it seems it is an nginx issue where it is not able to get the continuous queries about progress from the front-end. Some people have also suggested installin

[2019-09-24 03:48] czue commented on #15
The library just uses polling to get the status, so it should not be dependent on the web server unless something strange like throttling is happening.

In the browser are you seeing the requests to the progress status URL getting made? And can you confirm there aren't any javascript errors on the page/

[2019-09-24 03:54] sindhujit commented on #15
![Capture](https://user-images.githubusercontent.com/7021803/65479906-32076a80-de44-11e9-8832-97b04bdf7715.PNG)
It seems I am getting an error where it cannot locate /celery-progress. I think apart from defining in urls, it should be defined in my nginx.conf file as well inside the location attribute.

[2019-09-24 03:58] czue commented on #15
Yeah, I would guess that it's related to how you're serving staticfiles. I would review these docs and make sure you have a setup that is working: https://docs.djangoproject.com/en/2.2/howto/static-files/deployment/

[2019-09-24 04:00] czue commented on #15
oh wait, sorry I misread the error, ignore the staticfiles thing.

I'm not sure how your setup is working but agreed that either nginx can't find the URL path or django can't find the task (it could be either one).

[2019-09-24 04:50] sindhujit commented on #15
You were right. I forgot the way STATIC files are deployed in our E2 and E3 envs are a bit different :)

[2019-09-24 06:59] czue commented on #15
great!

[2019-09-24 06:59] #15 closed

[2019-09-25 21:38] ludwigwittgenstein2 commented on #8
I have the same issue.
![image](https://user-images.githubusercontent.com/21267065/65641600-d60f2400-dfb2-11e9-82f7-479a5916566e.png)

[2019-09-26 04:24] czue commented on #8
@ludwigwittgenstein2 it looks like the task ID is blank, which either means you're not properly passing it to the template, or the celery setup is not returning valid task IDs (check the result backend).

[2019-09-28 06:59] czue opened #16 "Add websocket support"
Would be nice if there was support for using websockets instead of polling.

[2019-10-28 02:04] EJH2 opened #21 "RuntimeError: Never call result.get() within a task!"
When using the websocket progress reporter on my Linux production machine, all tasks follow up with
[code]
I find this especially odd because the error does not occur on my development Windows machine. I seem to have located a fix [here](https://stackoverflow.com/a/45491380/). I will open a PR if this does indeed fix my issue.

[2019-10-28 02:09] EJH2 commented on #21
I seem to have added the commit fixing this issue onto my previous pull request on accident. Two for one deal I guess... 😞

[2019-10-28 06:49] czue commented on #21
all good! assume this can be closed now, yeah?

[2019-10-28 10:25] #21 closed

[2019-11-08 22:56] dragonyanglong opened #25 "support flask"
Does this package can also be used in flask instead of Django?

I use Flask-Celery-redis.

[2019-11-11 09:09] czue commented on #25
I've never used it with Flask before, but would love the ability to add support! Let me know if you'd be interested in helping out.

[2019-12-29 14:03] dimkoug opened #26 "syntax error js file"
i get the following error

SyntaxError: JSON.parse: unexpected character at line 1 column 1 of the JSON data

when i use the default code from the readme

[2019-12-30 06:07] czue commented on #26
Whoops, sorry about that @dimkoug . Which code snippet from the README are you referring to specifically?

[2019-12-30 06:08] czue commented on #8
Closing this out since I believe this is a configuration problem and not an issue with the library.

[2019-12-30 06:08] #8 closed

[2019-12-30 09:12] dimkoug commented on #26
In the browser i get that error in console , i think from the javascript file

[2019-12-30 12:09] czue commented on #26
I meant what code snippet in the readme?

My best guess is that your ajax request is not returning JSON. Which might indicate you haven't set things up properly and it's returning, e.g. a django error page.

[2019-12-30 12:31] dimkoug commented on #26
ok , i'ii check my code for json response , i copied all the code from the readme.

[2020-01-07 12:04] czue commented on #26
@dimkoug any update on this? ok if I close it?

[2020-01-08 05:14] #26 closed

[2020-01-13 10:00] phatberstromgg commented on #8
Hi @czue, I have tried your advice but the error still there. In my case, the webpage was worked but when I upload a video, the web shows me the error. It is said the same look as the post of @ludwigwittgenstein2. Could you help me, please? Hope to hear from you soon.

Thank you so much.
Best regards.

[2020-01-14 03:09] phatberstromgg opened #27 "I got the issue NoReverseMatch Reverse for 'task_status' with arguments '('',)' not found. 1 pattern(s) tried: ['celery-progress/(?P<task_id>[\w-]+)/$'] like the post #8"
Hi @czue, I have tried your advice but the error still there. In my case, the webpage was worked but when I upload a video, the web shows me the error. It is said the same look as the post of @ludwigwittgenstein2. Could you help me, please? Hope to hear from you soon.

Thank you so much.
Best regards.

[2020-01-14 05:14] czue commented on #27
Hi @phatberstromgg this implies the task ID is blank. The best way to troubleshoot it is to try and figure out why it's blank. It can be because your backend isn't properly configured so the ID is not assigned/returned from the async call, because you're not passing it properly from the view to the template, because you're referencing the wrong variable in the template, etc.

I'd recommend you get

[2020-01-16 01:45] phatberstromgg commented on #27
Thank you @czue, I am trying to figure out the problem. I will come back soon.

[2020-01-18 19:03] Nebuchadrezzar opened #28 "Support `result` argument when the task errors"
This is usage question. I'm unclear how to handle errors that I need to show in the progress bar.

If I raise an error for a celery task, then the celery-progress view's "result" field is null. If a handle an error in a celery task and return the error string, then the celery-progress view rightly populates its "result" field with the returned error, but obviously this is a "false" success. This l

[2020-01-20 13:53] czue commented on #28
So if I'm understanding you correctly I think the answer is that this isn't currently supported. I believe that `result` support was added without thinking about the error use case. Would be great to get some support for implementing this though!

I haven't looked too closely into how it would work, but it seems like you might be able to do something [like this](https://stackoverflow.com/a/2444685

[2020-01-20 13:54] czue commented on #28
@Nebuchadrezzar updated the ticket with what I think the request is - let me know if I have it right!

[2020-01-23 15:22] Nebuchadrezzar commented on #28
Yes, that's right, and yes that's better wording.

[2020-02-02 13:37] aleksandr-smechov commented on #27
@phatberstromgg If you're putting `"{% url 'celery_progress:task_status' task_id %}"` in your template, Django will try to process the tag and find `task_id` empty, **even if you're not calling any tasks**. If you're getting the `task_id` from a callback, just use the following, as @czue suggested in the other thread:

` $(function () {
      var progressUrl = "{% url 'celery_progress:task_status'

[2020-02-03 05:37] czue commented on #27
thanks for the clarification @aleksandr-smechov

Agree! I would welcome a PR clarifying this :) (and will also add to my backlog)

[2020-03-24 01:41] shadowstriker15 opened #29 "Getting stuck on the .delay function, webpage never renders"
I have followed the README to include all the original suggested code to try and get a progress bar to display. However, by using the print-technique I notice that my view function can never render the intended HTML file because it gets stuck on the mytask.delay(10) call. Do you know why this would be happening? Is there anything else not included in the README that needs to be added to the code?

[2020-03-24 05:00] czue commented on #29
Do you have celery setup and running? You'd need to follow something like this: https://docs.celeryproject.org/en/latest/django/first-steps-with-django.html

[2020-03-24 05:09] shadowstriker15 commented on #29
Nope, I was under the false assumption that this was stand-alone and celery wasn't needed. My bad, thanks for the quick help!

[2020-03-24 05:09] #29 closed

[2020-05-12 00:01] Abhi904485 opened #33 "progress.percentage should be progress.progress_percent"
https://github.com/czue/celery-progress/blob/37ee848d46113272891a1a44bd2e7fbd0cab82d0/celery_progress/static/celery_progress/celery_progress.js#L20

[2020-05-12 01:00] #33 closed

[2020-05-12 12:23] Kabir1506 opened #34 "celery-progress initialized with 0 of 100 processed.."
Hi @czue ,
Although the celery progress-bar works fine for me. I am setting set_progress(start,end). End is not 100.
Even though before tracing the progress the UI shows 0 of 100 processed until the progress starts in backend. Once the process starts in backend it changes to my desired value.

[2020-05-13 23:50] eeintech commented on #34
Same problem here, the progress bar initialization message seems to be incorrect.

[2020-05-14 07:14] czue commented on #34
thanks, I've also confirmed this is an issue. Feel free to submit a PR! Else I'll add this to the backlog and aim to get it in the next release.

[2020-05-21 09:10] formacube commented on #29
Could you add in the documentation as prerequisite that celery needs to be installed ?
there is no mention in the prerequite section:
![image](https://user-images.githubusercontent.com/50452683/82543354-b33e0b00-9b53-11ea-8663-0e9e9a41011b.png)

[2020-05-21 09:42] formacube opened #35 "Would it be possible to provide a github demo?"
Hi, I'm trying to install a progress bar functionnality, and I'm new to `Celery` and asynchronous tasks.

Initially, the use of `celery-progress` seemed quite straightforwards
... until I realized I needed to install and configure `Celery`

There things started to get a lot more complicated as I tried to follow the link you provided in the close issue https://github.com/czue/celery-progress/issues

[2020-05-21 09:50] czue commented on #35
Hey - would love to put together a demo sometime.

Did you see this article? It's got a lot of background information that might help: https://buildwithdjango.com/blog/post/celery-progress-bars/

[2020-05-21 11:04] formacube commented on #35
That's the one which led me to celery-progress actually

[2020-05-22 08:10] czue commented on #29
Good suggestion! https://github.com/czue/celery-progress/commit/926caa721aaff3958b01a1723ac30eded8a47fb1

[2020-05-25 22:13] sindhujit1 opened #36 "Make the celery progress bar graphically better! - Enhancement"
I actively use this module and it works great. Is there a way you could enhance the UI of the celery progress bar from just a flat blob increasing every percent to a more professional progress bar with a GIF !?

[2020-05-26 02:22] eeintech commented on #36
@sindhujit1 Have you checked out Bootstrap's progress bar designs? https://getbootstrap.com/docs/4.4/components/progress/

Or is that still too much of "blob" for you?

[2020-05-26 02:25] eeintech commented on #35
@formacube I also struggled the first time to implement the full circle between the front and backend. I do have it running with Django(+celery/redis) now, was thinking maybe of sharing a demo code. I can let you know once I get time to set it up.

Did you make any progress until now?

[2020-05-26 07:39] czue commented on #36
@sindhujit1 this is certainly possible to do with either a bit of CSS or a custom `onProgress` handler. I think I would rather leave the exercise if UI customizations up to the callers which is why the current UX is intentionally simple. Is there anything preventing you from dropping in your own UI element?

[2020-05-26 07:40] czue commented on #35
@eeintech that would be amazing! Keep me posted if you do make any progress so I can link to the examples in the docs.

[2020-05-26 12:21] formacube commented on #35
@eeintech : I didn't progress much.
I went through some documentation,
Some videos,
And then I was wondering if celery was the right option for me based on all those comments claiming that celery was sometime very hard to parametrize.

I don't need anything complex.
I just need to launch some processes that are 10 minutes to 12h long and be able to get a feedback at what stage we are for the ongoi

[2020-05-28 00:54] eeintech commented on #35
@czue @formacube I quickly put together a demo of a fake download page (the task is actually running a 5 seconds timer, based on the celery_progress documentation):
https://github.com/eeintech/django-celery-progress-demo

It's functional but I haven't documented it yet, @formacube feel free to look around and ask if you have any question. You'll need redis-5.0.8 (have not tested 6.x) server to be

[2020-05-28 06:53] czue commented on #35
Awesome! @eeintech whenever you feel it's ready for primetime can you submit a PR to the readme so I can link it up? Thanks so much for the help!

[2020-06-01 23:35] eeintech commented on #35
@czue Thanks! I've just released the first version of the demo :smile:
I am writing an article on my website on the different pieces needed to get it up and running.
When I submit the PR, would you mind if I also add a link to my article?

[2020-06-02 06:15] czue commented on #35
Sure, go ahead. I'll review both the demo and the article and merge as long as I think they're helpful for users of the library!

[2020-06-02 14:27] formacube commented on #35
@eeintech
Thanks a lot for the precious help.
I have other things currently requiring my attention, but I'll look at it as quickly as possible

[2020-06-02 16:28] formacube commented on #35
That's great, thanks @eeintech .
I went through the repository, and it really looks great.

I must say that as I'm not really a professional IT, the thing that worries me a bit at the moment is the configuration of Redis / Celery (based on configuration concerns expressed through my different readings).

Therefore I guess your article would be most welcome !

Another immediate question for me is:

[2020-06-02 17:30] eeintech commented on #35
@formacube I will explain this in my article, in my demo I'm using Redis as message broker for Celery because Redis is very versatile and I'm also using it as cache on my server. However, you can totally run this demo replacing Redis with any other message broker, Celery recommends RabbitMQ. I just went on check if it's possible to install it on Windows, looks like it:
https://www.rabbitmq.com/ins

[2020-06-03 18:35] eeintech commented on #35
@formacube Good news, it is possible to use an SSH tunnel to connect to a Redis instance on a remote server! Have you already installed Redis and is it running on your remote server?
If not, my article will explain how to install and run it (almost there).

For the ssh tunnel, I'm using this command:
`ssh -f -N -L 6379:localhost:6379 <username>@<hostname> -p <port>`
This put the tunnel in the back

[2020-06-04 19:01] formacube commented on #35
@eeintech no I didn't install it yet

I will wait for your article

Thanks a lot for the information about the ssh tunnel!

[2020-06-05 22:32] eeintech commented on #35
@formacube Alright, I've just completed most of my article: https://eeinte.ch/stream/progress-bar-django-using-celery/
I will eventually write the last section which is meant to explain the final GitHub demo code but I hope it helps you grasp on the concepts involved to get the progress bar up and running. If you have any comments, suggestions, or questions please do let me know!

[2020-06-06 10:26] czue commented on #35
@eeintech that article looks epic! definitely will give it a link

[2020-06-09 17:42] eeintech commented on #35
@czue I finally sent the PR request, I hope it looks okay!

@formacube Any luck on your side? Would be interested to know what you think about my step-by-step guide :)
The last section is on its way, it's basically bridging the gap between a simple timer task and a download task (which is the scope of the [github demo application](https://github.com/eeintech/django-celery-progress-demo)).

[2020-06-09 18:45] formacube commented on #35
@eeintech I can try to have a look between this evening and tomorrow, but I will not be able to try it before this weekend

[2020-06-09 19:20] formacube commented on #35
@eeintech I just went through your article. That's great and very detailed. Very didactic!

I think it will help a lot of people finding their way through the ton of information which is available out there...but not always relevant for a non specialist like me.

The only aspect that I'm still missing to get my own solution working is the following :

Imagine I have several tasks that I can put in

[2020-06-09 19:23] formacube commented on #35
PS: I saw your site is .ch. Where are you located if its not too indiscreet ? I'm in Lausanne

[2020-06-09 21:55] eeintech commented on #35
@formacube Thanks! I was hoping for an approachable format because I did get confused too at first, it's a pretty high step for non-experts in this field (which I am not, my background is hardware engineering). After much reading though, I finally put a finger on each part and how they interact with each other, which I wanted to summarize in this guide (also for me to remember in the future).

Thi

[2020-06-24 23:00] mattschwen opened #38 "redirect upon task completion"
Hello,

I am looking for a way to issue a redirect if the task completes as success or failure within the JavaScript itself.

I have the status bar working, and it's awesome. However, I have a list of 2 separate tasks. I want to submit one task, wait for the completion while viewing this nice status bar, then once complete (if successful) kickstart the second task and wait for that nice status bar

[2020-06-25 09:39] czue commented on #38
Hey! This should be possible with a custom `onSuccess` function. Basically you should be able to initialize the library with

[code]
or if you want to call a second task, you'd just do the same in the `onSuccess`.

Does that suit your use case?

[2020-07-07 15:01] Jean-abb opened #39 "Progress bar going from None to Success"
Hi @czue ,

Everything seems to doing well but for an unknown reason, i can't see my progress bar evolve in the same time has the info from the task_id url.

I see the progress bar going directly to "success". Looks that the Fetch function return only when the task has finished.

I have followed all the steps from the README

Any known reason ?

Thanks !

[2020-07-07 15:36] eeintech commented on #39
@Jean-abb What is your Celery worker output?

[2020-07-07 15:55] Jean-abb commented on #39
[2020-07-07 15:53:34,488: DEBUG/MainProcess] TaskPool: Apply <function _fast_trace_task at 0x7f571e94fc80> (args:('tools.tasks.reverse_dns_resolver', 'b7530b21-9cdd-462b-8e42-b50a3f60718b', {'lang': 'py', 'task': 'tools.tasks.reverse_dns_resolver', 'id': 'b7530b21-9cdd-462b-8e42-b50a3f60718b', 'eta': None, 'expires': None, 'group': None, 'retries': 0, 'timelimit': [None, None], 'root_id': 'b7530b2

[2020-07-07 16:53] Jean-abb commented on #39
In addition :100:
During long process i can see the progress in real time from the task url. but no progress in parallel bar in the template.

Once progression reach 100%, the progress bar appear in green with success.

[2020-07-07 18:33] eeintech commented on #39
@Jean-abb It looks like the Celery task execution time is very short (0.04s).
Can you please post the code of you Celery task?

[2020-07-07 19:04] Jean-abb commented on #39
@eeintech it's same with long task :) here is my task code :

@shared_task(bind=True)
def reverse_dns_resolver(self, ip_list, full_suffix=False):
    progress_recorder = ProgressRecorder(self)
    ipresolved = ''
    total = len(ip_list)
    if full_suffix:
        for i, ip in enumerate(ip_list):
            ipresolved = f"{ip};{get_dns_record_full_suffix(ip)}\n" + ipresolved
            progress

[2020-07-07 19:13] Jean-abb commented on #39
I have made some test with the "celery_progress.js" script, it seems that the following statement don't work with me :

                if (!data.complete) {
                    setTimeout(updateProgress, pollInterval, progressUrl, options);

With my poor javascript experience, i think this is the part of code which make progressing the bar.
here is an exemple of progress from url with long proces

[2020-07-07 19:26] eeintech commented on #39
@Jean-abb Your ```for i, ip in enumerate(ip_list):``` loop is too fast for the progress bar to display on each run, the front-end does not update that fast (can't remember exactly but it in the hundreds of ms). If you want to display progress, try to add a delay on each run:
[code]

[2020-07-07 19:31] Jean-abb commented on #39
@eeintech Thank you for your help, i will try it tomorrow and keep you informed !

[2020-07-08 07:41] Jean-abb commented on #39
@eeintech unfortunately i have tried with time.sleep(0.5) and time.sleep(1) and i still don't have the progression :/

[2020-07-08 09:14] Jean-abb commented on #39
i have added "console.log(data)" on 3 differents states in "celery_progress.js":

1.  if (data.progress)  = ( index):420 from the console log
2. if (!data.complete) = Nothing from console log
3. if (data.success) = ( index):429 from the console log

Here is the result from Chrome console :

SSO extension (http://192.64.10.230:8081/dns/)
common.js:38 page loaded
common.js:38 starting
common.js:38 n

[2020-07-08 12:24] eeintech commented on #39
@Jean-abb How long did the Celery task take to execute with the `time.sleep`? I can't speak for the JS code but were you able to successfully display the timer task progress shown in https://github.com/czue/celery-progress#recording-progress?

[2020-07-08 12:59] Jean-abb commented on #39
@eeintech sorry wasting your time :/

It was due to my views.py, i have added a context argument which permit to have a rendering of the result to the frontend at the end of the process.

The fetch function was waiting for this final result before showing anything it's why it was always in "success".

Now it's better :)

[2020-07-08 12:59] #39 closed

[2020-07-08 13:21] eeintech commented on #39
@Jean-abb No problem, glad you were able to sort this out!

[2020-07-08 13:23] eeintech commented on #35
@formacube Just checking in to see if you have made progress (literally :smiley:)

[2020-07-08 13:28] eeintech commented on #34
@Kabir1506 A workout I found is to overwrite the `onProgress` function with your own default description (`Starting my task` in the below example):
[code]

[2020-07-09 15:13] formacube commented on #35
Sorry, no progress, and no time allocated to this project.

[2020-07-09 15:23] eeintech commented on #35
@formacube Ok, you may consider closing this issue for the time being :wink:

[2020-07-10 06:19] czue commented on #35
I'm going to close this. @formacube if you have any other issues feel free to post back. Thanks for the help @eeintech !

[2020-07-10 06:19] #35 closed

[2020-07-10 19:14] Nebuchadrezzar commented on #28
I believe issue #31 addressed this request.

[2020-07-11 13:01] czue commented on #28
Great, thanks!

[2020-07-11 13:01] #28 closed

[2020-07-28 08:37] aashayamballi opened #40 "Is there any way we can integrate this with a react project?"
Hi, thanks for this library,

Can anyone please demonstrate how to use this in a react project with Django/Django Rest Framework backend?

[2020-07-28 15:31] czue commented on #40
Hey! I have done this but so far only by dropping the JS dependency on the page. I've learned a lot about how JavaScript works since originally creating this.

It would be great to package the JS separately and distribute it via NPM so that it can more easily integrate with React and other frameworks. That work is something I'd love to make time for in the future. At the moment, I'm not sure when

[2020-08-05 21:23] j3dd3rs opened #41 "Redirect to django url on task complete"
I did see someone did ask about doing a redirect on a task complete and had no error/was successful. I am after something similar but looking to redirect to a url from my urls.py not too familiar with javascript so trying to figure out exactly how I would go about this. I have got my template setup to run the progress bar just fine. But then my goal would be to after 'x' amount of seconds (undecid

[2020-08-05 21:41] eeintech commented on #41
@j3dd3rs Not your Javascript expert here but what about something like this:

[code]

[2020-08-05 22:58] j3dd3rs commented on #41
Thanks! Now I have another issue sort of linked to the first as I am trying to pass a model id which is created in my task to the redirect. I am struggling to receive a return value from the task and get the progress bar (and redirect) to work. It ends in some infinite loop and I am not quite sure what I am doing wrong.

[code]
It just ends up repeating the GET for the task_id
[05/Aug/2020 23:53:4

[2020-08-06 02:32] eeintech commented on #41
What don't you try to split things up as follow:
- Create model instance in the view calling the task (eg. where `delay` is called, which I think you want it to be different from the `search_list` view)
- Pass model instance ID to the task as an extra argument:
[code]
- Once task complete (= success), return model instance ID
- JS success function retrieves model instance ID from `result` variable

[2020-08-06 02:35] eeintech commented on #38
@czue No activity from OP, I think your answer covers his question, consider closing the issue?

[2020-08-06 06:29] czue commented on #38
@eeintech good call!

[2020-08-06 06:29] #38 closed

[2020-08-06 06:30] czue commented on #16
this is done

[2020-08-06 06:30] #16 closed

[2020-08-06 20:25] j3dd3rs commented on #41
Struggling to get this to work even with a url that doesn't require any parameters to be passed into the url so not quire sure what is going wrong. It just finishes the progress bar and then never redirects to any other url and stays on the same page.

I'll post a few more bits of code to maybe try help get a better idea of how this would be put together.

It is placed within an app called prop.

[2020-08-06 21:49] eeintech commented on #41
@j3dd3rs I think you forgot to call the `processSuccess` function in your `search_multiple.html` template, this bit:
[code]
should be:
[code]
See the specified `onSuccess` argument inside the `initProgressBar`? Without it, the `processSuccess` function would never be called, hence **no redirect**. Hopefully, that solves it ;)

[2020-08-06 22:46] j3dd3rs commented on #41
You are right with me forgetting that. Got it to redirect now to a url that doesn't have a parameter so thanks for that solution!

I think this is my last issue. Now I cannot actually get it to pass the model_id into the url. It won't actual give a value into it at all. It just gives a NoReverseMatch error due to nothing being passed in as a parameter:
[code]

I updated the javascript section to b

[2020-08-07 00:12] eeintech commented on #41
Can you print `search_model.id` before task returns?
You can also print the content of `result` to see if it looks correct, in JS: ```console.log(result)```
Also, I don't recall if it keeps the variable type from the task return, check if you need to convert it to integer (if not empty).

[2020-08-07 07:32] j3dd3rs commented on #41
I can print it. When logged it matches the printed result and comes as a number type.

[2020-08-07 12:53] eeintech commented on #41
Sorry but the NoReverseMatch still makes me think it is passed as a string type to ```var success_url = "{% url 'search_list' pk=model_id %}"```

Have you tried changing the type of the expected argument in your views.py to string instead?
[code]

[2020-08-07 17:32] j3dd3rs commented on #41
Okay so it wasn't a conversion issue, it is keeping it as a number variable. I found out this wasn't the issue! I did a bit of searching around when getting back from work and found out it is due to the way Django uses the code compared to Javascript. Django will execute code server side before the client sees it. The Django tags are counted as Django code. So it executes with no parameter and see

[2020-08-07 17:55] eeintech commented on #41
@j3dd3rs Haaa yes of course! Great find, I completely skipped the fact the success URL / JS code was evaluated when `task_id` is passed to the template (`{% if task_id %}` line). A good lesson for me too :smile:

If you think your issue is resolved, would you mind closing this ticket? Don't hesitate to re-open one in the future :wink:

Happy coding!

[2020-08-07 18:05] #41 closed

[2020-08-27 00:30] EJH2 opened #44 "Task exceptions appear in multiple places on frontend"
As a result of [this change](https://github.com/czue/celery-progress/commit/e69fea4cf95d001e701c0dff46e441727de320aa#diff-1af8afa5271d46d4553e497b42c31f47R15) in #31, an exception triggered in a task will appear in both the result and progress bar message elements using the default configuration. Running a task with the code
[code]
produces a progress bar as shown. ![image](https://user-images.git

[2020-08-27 06:08] czue commented on #44
Agree this is weird behavior. I'll look into it when testing and before the next release. Thanks!

[2020-08-27 07:56] czue commented on #44
added logic to only append if resultElement is empty in https://github.com/czue/celery-progress/pull/45

[2020-08-27 08:00] czue commented on #44
@EJH2 can you close this once you confirm it's resolved in `0.11`?

[2020-08-27 08:13] #34 closed

[2020-08-27 12:27] EJH2 commented on #44
This issue has been fixed for HTTP in 0.12, but it seems the change did not carry over to the websocket version.

[2020-08-27 12:29] czue commented on #44
Oops sorry! I don't actually have a websocket env.

[2020-08-27 13:31] EJH2 commented on #44
I created [this project](https://github.com/EJH2/cp_ws-example) a couple of months ago to test previous changes, but it still holds up well enough today as a development playground.

[2020-08-31 18:21] OmarWKH commented on #44
To reduce inconsistency between http and websocket they could have more code in common.
The data code ([http](https://github.com/czue/celery-progress/blob/59aa856ba28d847a65a203876b24aca8dd46b0ff/celery_progress/static/celery_progress/celery_progress.js#L77), [ws](https://github.com/czue/celery-progress/blob/59aa856ba28d847a65a203876b24aca8dd46b0ff/celery_progress/static/celery_progress/websockets

[2020-09-01 18:27] EJH2 commented on #44
That would make sense, as the Python backend for the websocket is a subclass of the http backend. If you could check this out, I would be unopposed to approving it!

[2020-09-01 20:56] OmarWKH commented on #44
done

[2020-09-03 15:19] #44 closed

[2020-09-12 19:27] P-Sood opened #49 "[Question] Is it possible to display multiple loading bars for multiple tasks queued at the same time?"
I am not that familiar with celery and don't even know if it can run multiple tasks concurrently, but if it does, would there be a way to support multiple loading bars that show the progress of each task?

[2020-09-14 01:05] EJH2 commented on #49
The library does support initializing and displaying multiple progress bars, which can be accomplished by wrapping the initialization script in the [README](https://github.com/czue/celery-progress/blob/af964fe912379086861787bd1f45d6edaf55555d/README.md#initialize-the-progress-bar) in a for-loop. Another way would be to wrap the same example in a for-loop, but adding a callback that starts the next

[2020-09-21 12:06] jjrugui opened #50 "Persistant job tracking"
Is there any way or a recommended way of tracking long term jobs? As in keeping them in a table for querying afterwards?

In my case I'm dealing with jobs that might take 1-2 hours and if the user leaves the page during that time I don't have access to the job id returned by the view. I was planning on creating a table for keeping track of jobs.

Any suggestions on this? Or anyone dealt with a sim

[2020-09-22 07:16] czue commented on #50
Interesting use case! I haven't had to solve this on any of my own projects, but I certainly can see the value of it. Off the top of my head it's unclear to me whether something like that would belong in this lib or as a standalone thing, though happy to review any suggestions you have. (also keen to hear if any other maintainers have thoughts).

How would you be identifying/looking up the jobs? W

[2020-09-22 12:09] eeintech commented on #50
If you are using Django, someone has created an extension to link Celery tasks to Model instances and monitor their status:
https://github.com/mback2k/django-celery-model

Using it with a `User` based model sounds like a great idea.

[2020-09-22 12:37] OmarWKH commented on #50
I also considered giving the task a deterministic custom id that you can re-generate when needed. But I think keeping track of ids is a better solution.

[2020-09-23 09:09] jjrugui commented on #50
@czue that is exactly the initial idea I had. A simple model that just links `task_id` with `User` and potentially status so it can also be used to track history of tasks for each user. This would also allow to query an endpoint to retrieve unfinished non-failed tasks.

Also agree that I don't know if it belongs here or somewhere else, I love the simplicity of this project but I also feel that suc

[2020-09-23 10:30] jjrugui commented on #50
@eeintech I'll take a look at the project you mentioned later tonight to see if it fits what I'm after. Yes, I'm using `celery-progress` with Django.

[2020-09-25 20:22] #49 closed

[2020-09-28 12:23] TWEEDOriginal commented on #40
I think I figured out how to do this

[2020-09-28 12:24] TWEEDOriginal commented on #40
Hello, I think I have figured out how to do this

[2020-09-30 07:26] czue commented on #40
@TWEEDOriginal any more details? Guessing it would be helpful for others.

[2020-09-30 22:39] TWEEDOriginal commented on #40
In my models.py I created a specific model for task_id so whenever a celery task is initiated with .delay() a new task_id model which contains the task_id is created.
// Django code

result_task = process_document.delay(instance.pk)

ResultTaskID.objects.create(task_id = result_task.task_id)
//
So in my front end(React) I get the task_id via an api call to the server, Then the rest is just like yo

[2020-10-04 11:22] OmarWKH opened #53 "Support task retries"
Retrying tasks causes an error.

I think it's because Progress.get_info reaches the last line and returns an exception. The view tries to send it as JSON but can't.

https://github.com/czue/celery-progress/blob/af964fe912379086861787bd1f45d6edaf55555d/celery_progress/backend.py#L95

Example task:
[code]

[2020-10-05 05:46] EJH2 opened #54 "Unsupported states crash Progress reporting"
Currently, there seems to be two task states that will slip past the currently accounted for states in `Progress.get_info()`:
1. IGNORED
    - HTTP: When used with a progress recorder's `stop_task()` as demonstrated in #4, `stop_task()` will function as expected. However, if `stop_task()` is not used, upon finishing the task, the result backend will still have the `PROGRESS` state, meaning the cli

[2020-10-06 10:48] capancheta opened #55 "Progress jumping from waiting to success when i use CELERY_RESULT_BACKEND = "django-db""
this does not happen if i use CELERY_RESULT_BACKEND == redis.
The status of the task while processing appears as so:

{"complete": false, "success": null, "progress": {"pending": true, "current": 0, "total": 100, "percent": 0}}

once completed though, all values are correct:

{"complete": true, "success": true, "progress": {"current": 100, "total": 100, "percent": 100}, "result": {<VALID_RESULTS>}

[2020-10-06 14:27] OmarWKH commented on #13
This can be done now by overriding `onNetworkError`. I'm not sure if it should be default behaviour or left to the user.

Alternatively, the user could be allowed to handle this exception/promise rejection (currently they can't):

https://github.com/czue/celery-progress/blob/ecb5008d3463519985783579cfeb2490a9efa6f0/celery_progress/static/celery_progress/celery_progress.js#L103

[2020-10-06 15:25] EJH2 commented on #55
Do you have an example task where this occurs? This definitely not the intended behavior, and any help you can give at reproducing this would greatly assist us in fixing this.

[2020-10-06 20:47] oguzhancelikarslan commented on #55
I tested it and works like a charm. I used django-db as backend.

[2020-10-06 22:07] EJH2 commented on #55
Hmm, will definitely need more info from @capancheta when they have the time.

[2020-10-07 01:29] capancheta commented on #55
i must have something wrong with my celery config. i'll continue tinkering with it and report back. thank you all!

[2020-10-07 02:31] capancheta commented on #55
figured it out, my function has an @transactions.atomic() decorator. doesnt play nice probably because celery-progress requires that the backend MUST be updated(re: data commited) in the first place.

[2020-10-07 03:33] EJH2 commented on #55
Yeah, the only way to communicate the state between the task and the HTTP view is to pull off of the backend. Glad you were able to solve your issue, though!

[2020-10-07 03:33] #55 closed

[2020-10-10 12:03] czue opened #56 "Supported Python / Django / Celery versions should be documented"

[2020-10-12 12:24] petoor opened #58 "Any way to track a celery group?"
Hello.

Is there any way to track the progress of a celery group?
That is, spawning a lot of asynchronous tasks, and keeping track of how many subtasks are completed as a function
The celery group has a completed_count() option which does exactly that, but my understanding of celery-progress is not good enough to know if this can be incorporated
https://docs.celeryproject.org/en/latest/reference/c

[2020-10-13 07:21] czue commented on #58
I've never attempted this. A couple possible options that may work (just some quick thoughts):

1. Show a separate progress per task using the normal observer
2. Create some other observer object that can monitor all the child tasks and report progress on everything. Not sure whether you want to just track the number that have completed or the progress of each individual task in the group, but the

[2020-10-13 08:07] jjrugui commented on #58
Hi @czue, I really appreciate your commitment :). I'm working with @petoor, that's why I'm commenting on this issue also. One of the issues with the current workflow for this project (if I understand correctly) is that the view is expected to return the task id so if multiple tasks are spawned from a group, there's no way to return the id's of all tasks. Is that right?

I'm working on #50 which I

[2020-10-14 03:26] EJH2 commented on #58
The package currently does have support for tracking tasks in a group, although it does not have persistence as you've noted. An example view to show off group support would look as follows:
[code]
The `task_ids` context will be used to get all of the tasks currently in the group, and the list comprehension is to simply act as a star expression to remove each task ID from the list that `parents.as

[2020-10-14 04:02] EJH2 commented on #58
Alternatively, if a single progress bar encompassing all tasks is what your after, that we currently don't support. As @czue noted, it would require passing information from all tasks into a centralized location. From there, this "super observer" would then have to try and figure out how "done" every task is, and I guess work out how to display those results. From what I can see from `GroupResult`

[2020-10-14 05:31] EJH2 opened #59 "Deprecating stop_task: A Discussion"
Since it's inception, `stop_task` (in my opinion) has sat in a rather weird place:
- It has current and total arguments, neither of which matter because the progress is discarded for the default 100% once it "errors".
- The example use case shows catching an error, sending task metadata that the task has failed, and then ignoring the result
    - Is this not the same as simply letting the error pr

[2020-10-14 06:56] czue commented on #59
I think you lay out a compelling case and I'm happy to deprecate/remove support for it. It's not a feature that I've ever had the need for, and I just merged in [the enhancement](https://github.com/czue/celery-progress/pull/4) since it seemed to be useful to others.

Re-reading that PR, it does seem like the core use case of providing input on a failure within the task is better handled through th

[2020-10-14 17:44] eeintech commented on #59
The first time I used celery-progress, I got confused with `stop_task`. I thought it would nicely handle the killing of the task (eg. raise the exception) and freeze the progress bar displaying the error message. But it did none of those things so I quickly move away from it, if it can be made more useful (eg. my initial expectation and/or more) I think it could be nice for novices like me to have

[2020-10-15 00:14] EJH2 commented on #59
If we choose to keep `stop_task`, the only suitable solution that comes to mind would be something like this:
[code]
This would have the exact same effect as the what the previous implementation aimed to accomplish, with the caveat that the bar would still go to 100%. In order for us to maintain the current state of the progress bar vs filling it completely, we would have to make changes to the cl

[2020-10-15 00:20] EJH2 commented on #59
Although, for a possible counter-argument, keeping `stop_task` in the modified form would allow users to subclass the bar and add their own logic. So I guess the argument at that point becomes "it's a crutch for actual Python" vs. "user extendibility"

[2020-10-15 06:53] czue commented on #59
@EJH2 you have my support on whatever you think makes sense on this :smile:

Sorry if I'm acting a bit hands off - I just don't have any strong opinions on this particular topic. Plus, I think you're doing a great job stewarding the lib and trust your judgment.

[2020-10-16 13:07] OmarWKH commented on #59
I'm in favour of dropping `stop_task` and letting the user simply raise an exception.

The only use case for `stop_task` is if you want to ignore the task (which prevents state updates), but you also want to update the state and save the exception. Right? I'm not sure why you would want to do that.

[2020-10-16 13:38] OmarWKH commented on #54
Note that after #52, unsupported states do not crash celery-progress but do show an error (except ignored tasks).

Regarding `IGNORED` tasks, do we actually have to do anything about it? It's reasonable that if a task is ignored, then celery-progress can't know its state.

Also, we should test what happens:
- for a `REVOKED` task (references: [1](https://docs.celeryproject.org/en/stable/reference/

[2020-10-16 15:47] eeintech commented on #59
Another thought that came to my mind, `stop_task` may only makes sense if a `start_task` method existed. However, I don't think it should be the focus of the `celery-progress` utility, instead make it as simple as possible to manage the **progress/status** of a running task. If the two start and end points (creating/activating and ending/killing) stay true to Celery, then one should have no proble

[2020-10-16 21:39] EJH2 commented on #59
It seems that the general consensus is fine with removing the method, so I'll put out a PR that corrects this.

[2020-10-17 07:01] #59 closed

[2020-10-19 07:52] jjrugui commented on #50
@czue sorry for late reply, it's been a couple busy weeks.

My plan was to create a simple table and create a new recorder that is capable of writing to a simple table. This couple links I'm providing here are temporary commits (had to move computers and needed the code) so it's far from clean or done but you get the idea :)

[Backend](https://github.com/jjrugui/celery-progress/blob/task-table/cel

[2020-10-19 22:54] EJH2 commented on #54
For `IGNORED` tasks, I believe we can somewhat deduce the state of the task. Ignoring a task forces it to finish, thereby marking it as complete. Whether or not it was successful, we do not know, but I was thinking that on the frontend that we fill the bar and grey it out and not return a result, but I am open for suggestions on that as well.

For `REVOKED` tasks, I was planning on looking at that

[2020-10-25 11:52] OmarWKH commented on #50
Note that the task is not owned by the user in all projects. It could be owned by a different model.

I think persistent job tracking should be done by another library or implemented by each project that needs it.

[2020-10-25 12:05] OmarWKH commented on #54
Makes sense. The frontend will need to know which tasks are ignored. Either the user passes an argument when starting the bar, or the value of result.ignored is included in get_info.

I'll try to get to it soon. If it works as expected, the user should enable it in their own tasks/celery configuration if they want its behavior.

[2020-10-26 04:26] EJH2 commented on #53
Fixed in #61

[2020-10-26 04:26] #53 closed

[2020-10-26 21:15] #5 closed

[2020-10-28 14:24] norbertcyran commented on #54
I'd also like to see `ABORTED` state being handled correctly.

Ideally, lib should support any user-defined custom state. For example by inheritance, or registering handlers.

[2020-10-28 20:25] EJH2 commented on #54
@norbertcyran I can see about the `ABORTED` state, seems rather similar to `REVOKED` in terms of functionality (both will terminate the task) so I could probably just patch it in there. As for user-defined custom states via inheritance or handlers, would you happen to have an example of such?

[2020-10-28 21:59] norbertcyran commented on #54
@EJH2 `ABORTED` state doesn't really terminate the task - it just informs the task it should be stopped. But it's left to the task itself where it'll be stopped, example:
[code]
So I'd expect payload more like:
[code]

[2020-10-28 22:36] EJH2 commented on #54
@norbertcyran All `completed` really does in the payload is tell the front-end progress bar whether or not it should keep a connection to receive more updates (for HTTP, this means sending a GET request every x interval, for WS this means maintaining the connection). If we pass `false` with the ABORTED state, that means that the bar will still try to listen for other events, which may or may not b

[2020-10-29 12:31] norbertcyran commented on #54
@EJH2 And that's exactly what I expect in my use case. When you call `.abort()` on task, its state turns to `ABORTED` **until** it hits `is_aborted()` check, after that, following the example I provided, task returns correctly, and its state turns to `SUCCESS` (unless you raise some exception after `is_aborted()` check, then it will be `FAILURE`).
When it comes to frontend, I don't want the connec

[2020-10-29 15:40] EJH2 commented on #54
@norbertcyran Understood. Do you believe it would be more appropriate if the progress bar maintained it's current progress from when it was aborted, or should it fill up to max? The bar will fill to max once it hits a SUCCESS or FAILURE state, but we don't really have a precedent set for intermediary states. Still curious on how we would support other user-defined states, though.

[2020-11-02 15:17] PazimGoyal opened #65 "Websocker progress doesn't update to success at 100%"
when I use ProgressRecorder the progress bar updates at 100% and even the custom function is called but when I use WebsocketProgressRecorder with channels==2.2.0 and redis at reaches 100% and stays their. on further debug the status remains (in event in js) remains pending.

[2020-11-03 06:29] EJH2 commented on #65
That's certainly not good. If you could provide the code for the task as well as more information about your python install/operating system, I'll go ahead and take a look at this. If you run your celery instance with the log level set to debug, does it error at all?

[2020-11-03 06:52] PazimGoyal commented on #65
try:
        progress_recorder = WebSocketProgressRecorder(self)
        # progress_recorder=ProgressRecorder(self)
        processed_results = processing_data.process_data(request, progress_recorder)
        return processed_results

I am using channels==2.2.0 / 2.1.2 ( testing on both) , daphne==2.5.0 redis/rabbitMQ as broker ( again testing both) , Everything runs on Docker composition. (nginx

[2020-11-03 07:51] EJH2 commented on #65
The only possibility that I can think of as to why the success event wouldn't fire is if the websocket post-run handler hasn't been properly connected. In your `INSTALLED_APPS`, can you confirm that `celery_progress.websockets` is present?

[2020-11-11 12:44] eeintech opened #66 "Task Return Result Content"
I updated one of my application from `0.0.10` to `0.0.14` and now running into issue where my custom `onSuccess` function is not able to access the `result` content. Here is a snapshot of it:
[code]
(`result` is now empty).

And here is the task:
[code]

This code used to work and the `processSuccess` would capture the content of `result` but no anymore... I've added those debug prints to make sur

[2020-11-11 13:27] OmarWKH commented on #66
I think this is caused by fixing https://github.com/czue/celery-progress/issues/44. Sometimes the result is not passed to some handlers to avoid showing it in multiple places.

To address this, we could let the default handlers decide for themselves to show the result or not.

[2020-11-11 17:57] eeintech commented on #66
@OmarWKH Thanks but I'm not entirely sure I grasp the idea... What is the correct way to "pass the result to the handler"?

[2020-11-12 07:20] czue commented on #66
@eeintech sorry about this!

I just tried testing it out and I'm not able to reproduce it. Here's my task:

[code]
and custom `onSuccess` function:

[code]
`result` is correctly printed (and also when I change it to a list). did you make any other changes while you upgraded? Are you sure your result backend is working? Also, have you checked whether downgrading restores the working behavior?

[2020-11-12 07:21] czue commented on #66
(can you also paste how you're calling `CeleryProgressBar.initProgressBar`?)

[2020-11-12 12:23] OmarWKH commented on #66
Sorry, I meant this line:
https://www.github.com/czue/celery-progress/tree/master/celery_progress%2Fstatic%2Fcelery_progress%2Fcelery_progress.js#L101

The result is processed by `getMessageDetails` before being passed to `onSuccess`. `getMessageDetails` returns an empty value if there's a resultElement to avoid showing the result twice in the page.

To check if this is the cause or not, try remov

[2020-11-13 15:56] eeintech commented on #66
@OmarWKH Yes that's it! I removed the `<div id="celery-result">` and now my `processSuccess` method is getting the right `result`!

This is a snapshot of my custom `onResult` method:
[code]

Of course now I get an error for setting the `resultElement.innerHTML` because it can't find the resultElement.

I'm not sure how to work around this potential bug (or is it my usage which is incorrect?).

@cz

[2020-11-14 03:39] EJH2 commented on #66
As Omar has pointed out, this issue stems from the fix that was implemented in #45, specifically how the `getMessageDetails` function is applied. If the result element is present, then `getMessageDetails` will override the result passed to the success handler to nothing, as is seemingly consistent with your issue here. A remedy for this would to just pass the raw result to the handler, and move th

[2020-11-14 13:31] eeintech commented on #66
@EJH2 I like it! I tested and it works with your proposed change and:
[code]

Now I don't know the best way to test on `onTaskError` though, is it more or like changing the code as follow?

[code]

and:
[code]

[2020-11-14 20:01] OmarWKH commented on #66
1. onTaskError is more challenging because it shares code with states with different desired behaviors. This is how states map to handlers currently:
- success: onSuccess
- failure: onTaskError -> onError
- retry: onRetry -> onTaskError -> onError
- revoked: onTaskError -> onError
- ignored: onIgnored
- unknown states: onTaskError -> onError
- other errors (onDataError, onNetworkError, and onHttpE

[2020-11-14 22:13] EJH2 commented on #66
I meant `onErrorDefault` instead of `onTaskError` in my previous comment, I should probably not have written it while tired.

I don't necessarily think we need to overhaul our current system too heavily as a result of this, as with the minor change everything should work as intended.

For your behavior analysis, I had sort of the same thoughts while implementing the newer states. The retry state i

[2020-11-15 13:00] czue commented on #66
Glad you all were able to get to the bottom of this and sorry for my role in introducing it!

I'm pro rolling out the change suggested by @EJH2 here https://github.com/czue/celery-progress/issues/66#issuecomment-727137648 - were you going to PR that or do you want someone else to do it?

[2020-11-17 11:57] OmarWKH commented on #54
I defined a task as follows:
[code]

I raised an error inside the task and the FAILURE state was not ignored.

[2020-11-17 12:45] eeintech commented on #66
@czue I opened PR #67 with the proposed change that fixed my issue. I'll leave it up to @OmarWKH and @EJH2 to decide how to move forward with the `onError` behavior :smile:

[2020-11-17 13:51] OmarWKH opened #68 "Incompatible with channels 3"
Related to #56.

Websocket breaks when channels 3 is installed. Channels 2.4.0 works.

[2020-11-19 16:37] Deguise opened #70 "Problem loading progress bar"
Hello,
Could you add [never_cache](https://docs.djangoproject.com/en/dev/topics/http/decorators/#django.views.decorators.cache.never_cache) decorator to [get_progress](https://github.com/czue/celery-progress/blob/018f059a29d7ca78cc52ff0bc5c13b649b391770/celery_progress/views.py#L7) view ? This will avoid having bar loading problems when [UpdateCacheMiddleware](https://docs.djangoproject.com/en/dev

[2020-11-20 06:28] czue commented on #70
this makes a lot of sense to me.

[2020-11-20 12:28] #66 closed

[2020-12-03 06:20] #70 closed

[2020-12-12 09:15] EJH2 commented on #68
Websocket breaking in channels v3 seems to stem from [this issue](https://github.com/django/channels/issues/1552#issuecomment-720099469). This can be fixed by adding the websocket url in routing.py as such:
[code]
Now, either we can do that and drop support for channels v2, or do a try/except clause and support both. Thoughts @czue @OmarWKH?

[2020-12-13 12:10] czue commented on #68
I guess if there's no major downside and it's a simple try/catch then supporting both for now seems better?

[2020-12-17 12:20] Hapyr commented on #68
i'm a little confused by the incopatiblities....
I have the same error that was mentioned above.
I am using generic consumer and the routings and have actually adapted all the changes from the release notes. Except the block to "channels.middleware.BaseMiddleware". Can this be the reason. What is meant here?

[2020-12-17 22:46] EJH2 commented on #68
Are you encountering this issue as a result of using this library, or just channels in general? I haven't been able to reproduce this issue since the change

[2020-12-18 12:23] Hapyr commented on #68
i do not use this lib. it is a bug/bug in channels.
I have also already moved my comment to the channels issue page. Feel free to delete it here.

[2021-01-08 15:03] aidin-leo opened #73 "Incompatible with django_celery_results"
Websocket breaks when using django celery results because of django ORM.

[2021-01-08 15:09] aidin-leo commented on #73
This can be fixed by adding sync_to_async to progress.get_info()  in consumers.py as such:

[code]

[2021-01-11 07:56] #68 closed

[2021-02-12 06:42] iamtekson commented on #40
Hi there,
I have integrated the `celery-progress` with react. I also have created a tutorial for it. [Check out the tutorial on dev.to/iamtekson](https://dev.to/iamtekson/celery-task-progress-bar-in-react-4ane).

I think I have to apply a little bit more conditions on the frontend. @czue, @TWEEDOriginal, @aashayamballi, I am expecting your help to improve the integration. Thank you.

[2021-02-20 13:55] czue commented on #40
thanks, I took a quick look and it looks like a great resource!

[2021-02-26 17:28] sindhujit1 opened #75 "Dependency Issue with celery!"
Recently when we tried deploying our app and installing all the packages, ran into an issue:

django-celery 3.2.2 depends on celery<4.0 and >=3.1.15

Seems like there has not been much update to django-celery and celery 5.0 has been released.
Django-celery is needed to run celery progress bars.

Downgrading celery to 3.1 is not a choice as that is a very old version and old packages like kombu als

[2021-02-26 17:41] OmarWKH commented on #75
I don't think django-celery is required for celery-progress.
If you are using django-celery to store results using the Django ORM, you can use django-celery-results instead.

[2021-02-28 22:07] bradsolves opened #76 "onSuccess Fires Early (and often)"
I use the following to display the progress bar, and the page refreshes constantly during the "crawl" of the progress bar and then continues to refresh indefinitely after the Celery task has completed. Perhaps my syntax is wrong?

[code]

I am using django-celery-results as well, if that matters.

Thank you for the hard work on this application!

[2021-03-01 08:01] shining2007 opened #77 "The progress bar does not auto-update when the network error occured and then restored"
It seems the progress bar will not update anymore when it encountered a network Error.
For example, when I flap the network, the progress bar will stop updating forever.
I also tried to install celery-progress[websockets,redis] instead of celery-progress, but it still does not work.
Do you have any good idea to make the progress bar auto-update when the network is restored?

[2021-03-01 08:05] OmarWKH commented on #76
I think two things are happening:

1- Reloading before success: onSuccess is responsible for updating the UI (turning the bar green). You override onSuccess, so the task is finished but the UI isn't updated. To preserve the default behaviour when overriding, call this.onSuccessDefault in your custom handler and give it all the arguments. Like this:

[code]

2- Continuous reloading: The task result

[2021-03-01 08:53] OmarWKH commented on #77
See related issue https://github.com/czue/celery-progress/issues/13 for a way to approach this.

I imagine this could be done in multiple ways:
1. Retry continuously with a cool down interval.
2. Retry a few times then give up.
3. Show a button/link for the user to initiate a retry.

I don't know if any of these should be the default behaviour or not.

[2021-03-02 07:20] czue commented on #77
No strong feelings about the default, but I do think that all of these options would be better than the current behavior. Options 1 and/or 2 have the benefit of not needing to introduce any new UI components so I guess I'd advocate for one of those.

[2021-03-02 10:52] bradsolves commented on #76
Thank you very much for your prompt response. With respect to the continuous reloading, that makes perfect sense; the task result is SUCCESS so it will fire the onSuccess handler upon page load. I added some logic to check for the presence of a different UI element to determine whether the page had already reloaded, which solved that issue.

With respect tot he default handler, though, I am now re

[2021-03-03 12:31] abedyngash opened #78 "Maintenance and support for Django >= 3.1"
This piece of warning comes up when using Django 3.1

[code]
That should be corrected in the next release, I suppose.

[2021-03-03 12:39] czue commented on #78
oops - thanks for the heads up! will prioritize this

[2021-03-03 12:54] abedyngash commented on #78
Actually opened a pull request for the same. Check #79

[2021-03-03 13:00] czue commented on #78
Ah great, thanks for the contribution!

[2021-03-03 13:00] #78 closed

[2021-03-03 19:27] OmarWKH commented on #76
You are right. I was testing on the unreleased version.

The way to reference onSuccessDefault was changed in #62 but it's not included in the latest release yet.

On the current version (0.0.14), use CeleryProgressBar.onSuccessDefault.

On later versions, use this.onSuccessDefault.

@czue

[2021-03-03 23:12] bradsolves commented on #76
works great! Thanks!

[2021-03-03 23:12] #76 closed

[2021-03-04 07:11] czue commented on #76
Sorry about that!

I just pushed a new release (`0.1.0` - because I don't really know why I ever started with `0.0...` :man_shrugging: ). Feel free to install that one and let me know if there are any issues!

[2021-03-08 13:52] safhac commented on #58
hi could the main `ProgressRecorder` be serialized somehow to the subtasks?

[2021-03-17 23:45] im4bacon opened #80 "Race between creating ProgressRecorder and setting its progress"
If a ProgressRecorder is created, its state is not initialized until set_progress() is called.  During this time, I think there is a race condition where a page calling initProgressBar() can get a bad state === null and fall into onTaskError() during this time.
(progressBarMessageElement will say "Uh-Oh, something went wrong! Unknown state")

[2021-03-20 04:23] czue commented on #80
Thanks for this issue! I'll try and set out some time to look into it in the next few weeks.

[2021-03-24 18:24] hansegucker opened #81 "Introduce changelog"
Reviewing changes of this package while updating dependencies is very hard because there is no changelog. It would be great to introduce it to get more transparency.

[2021-03-25 04:18] czue commented on #81
Thanks, I think this is a great idea and something we should put in place moving forwards.

[2021-03-25 20:11] OmarWKH commented on #80
I'm not sure it's a race condition. The initial state should be "PENDING" or "STARTED" even if set_progress() isn't called.

The error message indicates this is caused by an unknown state (in which case this is related to #54). It would be helpful to know what state caused the error. Do you have a way to check the task state when the error happens? If not, I made PR #82 to log unknown states and s

[2021-03-25 20:22] im4bacon commented on #80
What I saw was that if I created a ProgressRecorder and didn't set_progress until later,  I could see that state was occasionally coming back as null and then within a few seconds I'd see it going to PENDING state..   But by that time, I already had the "uh-oh" message.

As soon as I added a set_progress just below my creation of the ProgressRecorder, I haven't had the problem since.
    progress_

[2021-03-25 22:09] OmarWKH commented on #80
That's odd. I'm unable to reproduce the issue with this setup:
python 3.8, redis 5.0, packages:
- celery-progress==0.1.0
- celery==5.0.5
- Django==3.1.7
- redis==3.5.3

The task:
[code]

The view:
[code]

Is your application similar? Any other notable thing that could be related (celery config, progress bar template)?
Also, where did you see that the state was null?

[2021-04-01 04:24] im4bacon commented on #80
This doesn't happen often, and I just can't figure out how to reproduce it.  But I added some console logs to hopefully give a little more info for you.
In celery_progress.js, I'm falling into the case where data.complete === true and data.success === false.  data.state does not equal RETRY, so I'm hitting the else onTaskError().  Even though the task did complete successfully.

{state: "PROGRESS"

[2021-04-03 19:46] OmarWKH commented on #80
Interesting. I'm not sure how this response was made, but I have a theory.

This response is produced when a state is unknown. See [here](https://github.com/czue/celery-progress/blob/4b1e023cbd72083e1eb542560c49d5653ceb5ee2/celery_progress/backend.py#L106).

But 'PROGRESS' is a known state, and there's an "else if" clause that produces a proper response for it:
https://github.com/czue/celery-progr

[2021-04-30 20:01] hansegucker opened #83 "get_progress endpoint allows retrieval of arbitrary tasks"
Any user, independent whether they are logged in or permitted, can get data about any task using the get_progress endpoint.

[2021-05-02 12:17] OmarWKH commented on #83
To do this I wrapped the `get_progress` view in my own view that requires authorization. My view would take a task id, does authorization, then forward the id to `celery_progress.views.get_progress` and return its result.

The authorization step depends on how your project is set up. Just protect your view like any other.

And in `urls.py`, I hooked up my own view instead of `celery_progress.urls`

[2021-05-02 13:18] czue commented on #83
Agreed with the above. Though i do wonder if there's a way to improve the situation out-of-the-box via a few settings or something. certainly at least adding a setting to require auth would be trivial. I think limiting it to the specific user would be possible, but a bit more work.

At a minimum I think this behavior should be more clearly documented so that it doesn't trip people up.

[2021-05-02 13:25] hansegucker commented on #83
First of all, thanks for your fast responses 👍🏻.

@OmarWKH Do you limit the task fetching to specific users or do you allow it just for all logged-in users? If yes, it would be nice to know how you save the information which task belongs to which user.

@czue I think some kind of information like the one provided by @OmarWKH would be already fine.

[2021-05-02 15:10] OmarWKH commented on #83
@hansegucker Specific users.

I had a Task model that stored users and tasks in the database. I made sure to delete the row and forget the task when I'm done with it.

I wrote the code a while ago so I don't want to give details that I could be misinterpreting. Also my solution was a bit different to fit my use case. So here are some notes that might not be applicable:

- I used `transaction.on_co

[2021-05-30 14:54] pmi123 opened #84 "How would one use this progress bar when a task is wrapped in a Django transaction.on_commit?"
Your usage notes for the view depends on the task returning a task_id:
[code]
but  a transaction.on_commit does not return a task_id, since the task may not have started yet. Any suggestions on how to use your progress bar with transactions?

Thanks!
Mark

[2021-05-30 17:28] OmarWKH commented on #84
To overcome this, I gave the task a custom id.

[2021-05-30 17:57] pmi123 commented on #84
Could you elaborate a little more on how you got it to work?

Thanks!

Mark

[2021-05-31 05:57] OmarWKH commented on #84
I didn't run this code. But it gives you the general idea.

[code]

[2021-05-31 21:54] pmi123 commented on #84
Thanks!

Giving a task a custom task_id is a new concept for me. While we were talking, I implemented my progress bar using my Django site's MySQL db and `uuid.uuid4().hex` to generate a unique ID outside of the celery task, but I will take a look at using this approach when I have some free time. Yours will certainly be more efficient than periodically hitting the db to get the progress amount in

[2021-06-30 13:22] gettoknowmii opened #85 "Create Sdist"
At https://pypi.org/project/celery-progress/#files there is no sdist, as is standard pypi/python practice.

Any plans to create one? It would greatly simplify the work of your downstream packagers.

Thank you.

[2021-07-02 11:39] czue commented on #85
Oops sorry about that. Definitely happy to do this for the next release. For my own education, what does the sdist help with that isn't covered by the wheel?

[2021-07-02 15:32] dlangille commented on #85
I am a FreeBSD ports committer but I do not have great insight into Python packages. I know the FreeBSD packaging system (known as ports) uses the sdist file.  To get more information than that for you, I've put the question out to other FreeBSD port developers.

[2021-07-02 18:26] kgeographer opened #86 "Handling a FileResponse"
I have a Django function that generates a csv or json file from database queries and returns a FileResponse, which opens a system File/Save dialog on completion. This works ok, except that some requests can take a while (10-30 seconds), so I want Celery to manage this and provide a progress bar. The return looks like this in a `download_file()` function -- after writing a file `fn`:
[code]

I use

[2021-07-02 21:01] neirbowj commented on #85
I'll take a shot here.

The wheel format is itself designed to be an installable package. The FreeBSD ports machinery is designed to produce an installable package of its own format. In order to use a wheel as the input to the FreeBSD port build process, the build machinery would have to be able to disassemble one package format in order to be able to re-assemble the contents into another package

[2021-07-03 01:11] koobs commented on #85
* Allows consumers (both downstream packagers, and users) to customise the build, appropriate for their needs or environment
* Ensures upstreams are testing a complete Python packaging / distribution pipeline (compliance, best practice, etc)

See Also:

 * https://discuss.python.org/t/purpose-of-an-sdist/4639

[2021-07-03 13:13] czue commented on #85
:+1: thanks for the responses! I'll try and make this happen this coming week. :crossed_fingers:

[2021-07-04 13:53] raynus commented on #27
Got stuck on this problem for several days and saw @aleksandr-smechov  comment.

I added the condition to check task_id then it works well.

`{% if task_id%}
// vanilla JS version
document.addEventListener("DOMContentLoaded", function () {
  var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
  CeleryProgressBar.initProgressBar(progressUrl);
});
{% endif %}`

[2021-07-05 10:59] czue commented on #86
Offhand, I'm not sure if celery allows passing a result like this. Likely what you will need to do is temporarily store the file somewhere (e.g. in Redis or on the file system), then pass back a *handle* to the file from the task, then add logic in the web tier to retrieve and serve that file via a second request.

Does that make sense?

[2021-07-05 11:20] czue commented on #85
I think this is done now (I also added a new release to be sure). Can you check and close if it looks ok?

[2021-07-05 13:08] kgeographer commented on #86
Yes, that is certainly the case -- and what you suggest is what I have ended up doing. My Celery task now simply returns some JSON with the name of the file that was written, and in the `success` action of the ajax I stop a spinner, build an href with the filename then click() it. That generates the system File/Save dialog I need. Seems pretty 'klugey' to me but hey, it works. Still some kinks to

[2021-07-05 13:12] czue commented on #86
No problem and sounds good!

[2021-07-05 13:12] #86 closed

[2021-07-07 06:14] czue commented on #85
closing this - though let me know if you need anything else

[2021-07-07 06:14] #85 closed

[2021-07-13 14:14] dlangille commented on #85
@czue :  Confirmed works.

I committed a FreeBSD port yesterday: https://www.freshports.org/devel/py-celery-progress/

Thank you for your help. It is appreciated.

[2021-07-14 04:52] czue commented on #85
great!

[2021-07-26 14:59] marcoshemann opened #88 "Config Mensages"
Hi guys,
I would like that you consider make de messages like 'Task started...'  configurable, to permite translate this.

Regards,

[2021-07-30 10:50] czue commented on #88
Hey - this is a good idea. Will try to tackle it soon!

[2021-09-09 06:34] #88 closed

[2021-10-08 18:32] czue commented on #83
Very welcome!

On Fri, Oct 8, 2021, 20:21 Tim Nyborg ***@***.***> wrote:

[2021-11-05 08:47] naga293tach opened #93 "'celery_progress' is not a registered namespace"

[2021-11-05 09:31] #93 closed

[2021-11-22 12:45] fauzanebd commented on #15
i have same issue while deploying my flask project on ec2. how do you solve this?

[2021-11-23 07:53] czue commented on #15
Could you check these steps? https://github.com/czue/celery-progress/issues/15#issuecomment-534376260

[2022-01-25 07:16] czue commented on #81
This has been introduced here. All releases prior to 0.1.2 are bundled together, but this will be maintained moving forwards.: https://github.com/czue/celery-progress/releases/

[2022-01-25 07:16] #81 closed

[2022-01-25 08:13] ramiboutas opened #95 "ajax request using htmx"
Hi Cory, thank you very much for this repo!

Do you think it is easy to integrate this with htmx? If yes, what files and methods do I have to change or achieve that? Thank you!

[2022-01-26 12:18] czue commented on #95
You're welcome!

I do think it would be easy to do. You could base most of it off the [progress bar example](https://htmx.org/examples/progress-bar/). Then on the backend, instead of returning JSON, you'd just want to return the relevant template fragment.

You could easily copy and modify [this view](https://github.com/czue/celery-progress/blob/master/celery_progress/views.py#L7-L10), and then re

[2022-03-14 17:25] mscout1 opened #97 "This could benefit from documantation for how to use it with chord or group based workflows."
I like this very much but my current use case involves a complex set of chains and chords. I want to monitor the progress of the workflow as a whole, not just one task of it.

For example:
[code]
I want to track the progress of the entire `work` graph. Is there a good way to do that with this library?

[2022-03-15 14:45] czue commented on #97
I haven't run into this need and off the top of my head I'm not sure if there is any way to do what you want, given the `ProgressRecorder` is pretty coupled with the task instance.

Interested to hear if anyone else has any better suggestions though!

[2022-03-27 13:45] akornor commented on #97
@mscout1 Hi! I also have a need for something like this. Do you mind sharing the approach you plan on using? Thank you!

[2022-03-27 19:11] Jedrzed commented on #49
hello, i also want to display multiple bars at same time. for example, i have 5 objects in log_list , but when i use for-loop, only can see one bar and five message, what should i do to see five bar?
`{% for log in log_list %}
            <div class='progress-wrapper'>
                <div id='progress-bar' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>

[2022-03-28 06:55] EJH2 commented on #49
Here's a simple way that should do what you're trying to accomplish. Hope this helps!
[code]

[2022-10-26 13:07] eeintech opened #98 "Legacy install method will be deprecated soon"
[code]

[code]

EDIT: Quoted the deprecation warning

[2022-10-26 14:28] czue commented on #98
thanks - I'll look into this as soon as i can

[2022-10-28 08:42] #98 closed

[2022-10-28 11:33] eeintech commented on #98
Nice, thanks!